# Скопируй этот файл в .env и заполни своими данными
BOT_TOKEN=ВАШ_ТОКЕН_БОТА
ADMIN_ID_1=123456789
ADMIN_ID_2=987654321
ADSPOWER_API_PORT=50325
ASOCKS_CHANGE_IP_LINK=https://api.asocks.com/v2/proxy/refresh/ВАШИ_ДАННЫЕ
DB_NAME=tiktok_bot.db
LIMIT_PER_HOUR=10
LIMIT_PER_DAY=30
